body{
  font-family: 'EB Garamond', serif;
  background-image: url(wallpaper.jpg);

}
.jumbotron{
font-family: 'Shrikhand', cursive;
text-align: center;
font-weight: bold;
text-shadow: #0080FF 1px 0 10px;
font-size: large;
height: 160px;
width: 600px;
background-color: #bdb7ab;
}
p{
  font-size: 25px;
  color: white;
}

.calender
{
  font-size: 25px;
  color: white;
}
