
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


body{
  font-family: 'EB Garamond', serif;
  background-image:url("background.jpg")

}

.jumbotron{
  text-align: center;
  font-size: large;
  border: 0.08em solid black;
  margin: 120px 100px 40px 120px;
  border-radius: 30px;
  padding: 20px;
  background-color: #8B008B;
}

#title{
  font-family: 'Shrikhand', cursive;
  text-shadow: #0080FF 1px 0 10px;
  font-size: 50px;
}

p{
  font-size: 25px;
  color: black;
  text-indent: 40px;
  align:justify;
  padding: 10px;
}

h2, h4{
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

.card{
  background-color: #e6e9ed;
  border-radius: 20px;
}

table.akannames{
  width: 55%;
  border: 1px solid black;
  padding: 20px;
  font-size: 16px;
  margin-left:15%;
  margin-right:15%;
  margin-bottom:10%;
  border-collapse: collapse;
}

.choose-date{
  font-size: 14px;
}

.footer{

        background-color: #8B008B;
        font-size: 20px;
        margin: 30px;
        text-align: center;
    }
