
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


header{
  background-color: #bdb7ab;
  height: 80px;

}

.container{
  padding: 0 1em;
}

body{
  font-family: 'EB Garamond', serif;
  background-image:url("background.jpg")

}

.logo
{
    width: 100px;
    padding-top: 1rem;
    float: left;
}

nav li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  float:right;
}
nav a{
  color: white;
  font-size: 15px;
  padding: 7px 17px;
  border-radius:3px;
  text-transform: uppercase;

}
.pages{
  float:right;
}

a.active, a:hover{
  transition: .5s;
  background: #1b9bff;

}

.title{
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-weight: bold;
  text-shadow: #0080FF 1px 0 10px;
  font-size: large;
}

p{
  font-size: 25px;
  color: blue;
}

.calender
{
  font-size: 25px;
  color: white;
}
.card{
  background-color: #bdb7ab;
}
